%div.container.mx-auto.px-4
  .text-3xl.font-bold.mb-8.text-center.text-gray-900.dark:text-gray-100 Why Our Machinery?
  %div.grid.grid-cols-1.md:grid-cols-2.lg:grid-cols-3.gap-6
    - # Card 1: Natural Ingredients
    %div.bg-white.dark:bg-gray-800.shadow-md.rounded-lg.overflow-hidden{data: {aos:"zoom-in-down", aos_duration: '1000'}}
      = image_tag 'benifit_1.jpeg', class: "w-full h-80 object-cover"
      %div.p-4
        %h3.text-xl.font-semibold.text-gray-900.dark:text-gray-100 High-Quality Machinery
        %p.mt-2.text-gray-600.dark:text-gray-300{data: {aos: "fade-right", aos_duration: "1200", aos_offset: '220'}} Emphasize the durability and reliability of your machinery, showcasing how it meets industry standards and exceeds customer expectations
        -# %ul.list-disc.pl-5.mt-2.text-gray-600.dark:text-gray-300
        -#   %li{data: {aos: "fade-right", aos_duration: "1500", aos_offset: '220'}} No synthetic additives
        -#   %li{data: {aos: "fade-right", aos_duration: "2000", aos_offset: '220'}} Gentle on the skin
        -#   %li{data: {aos: "fade-right", aos_duration: "2500", aos_offset: '220'}} Environmentally friendly

    - # Card 2: Health Benefits
    %div.bg-white.dark:bg-gray-800.shadow-md.rounded-lg.overflow-hidden{data: {aos:"zoom-in-down", aos_duration: '1400'}}
      = image_tag 'benifit_2.jpeg', class: "w-full h-80 object-cover"
      %div.p-4
        %h3.text-xl.font-semibold.text-gray-900.dark:text-gray-100 Cost Efficiency
        %p.mt-2.text-gray-600.dark:text-gray-300{data: {aos: "fade-right", aos_duration: "1600", aos_offset: '220'}} Highlight how your machinery can help businesses save money in the long run through energy efficiency, reduced maintenance costs, and increased productivity
        -# %ul.list-disc.pl-5.mt-2.text-gray-600.dark:text-gray-300
        -#   %li{data: {aos: "fade-right", aos_duration: "1000", aos_offset: '220'}} Boosts immunity
        -#   %li{data: {aos: "fade-right", aos_duration: "1500", aos_offset: '220'}} Enhances digestion
        -#   %li{data: {aos: "fade-right", aos_duration: "2500", aos_offset: '220'}} Reduces stress and anxiety

    - # Card 3: Eco-Friendly
    %div.bg-white.dark:bg-gray-800.shadow-md.rounded-lg.overflow-hidden{data: {aos:"zoom-in-down", aos_duration: '1800'}}
      = image_tag 'benifit_3.jpeg', class: "w-full h-80 object-cover"
      %div.p-4
        %h3.text-xl.font-semibold.text-gray-900.dark:text-gray-100 Advanced Technology
        %p.mt-2.text-gray-600.dark:text-gray-300{data: {aos: "fade-right", aos_duration: "2000", aos_offset: '220'}} Showcase the cutting-edge technology integrated into your machinery, which can improve operational efficiency and precision.
        -# %ul.list-disc.pl-5.mt-2.text-gray-600.dark:text-gray-300
        -#   %li{data: {aos: "fade-right", aos_duration: "2500", aos_offset: '220'}} Biodegradable packaging
        -#   %li{data: {aos: "fade-right", aos_duration: "3000", aos_offset: '220'}} Sustainable farming practices
        -#   %li{data: {aos: "fade-right", aos_duration: "3000", aos_offset: '220'}} Lower carbon footprint

    - # Card 4: No Side Effects
    %div.bg-white.dark:bg-gray-800.shadow-md.rounded-lg.overflow-hidden{data: {aos:"zoom-in-up", aos_duration: '500'}}
      = image_tag 'benifit_4.jpeg', class: "w-full h-80 object-cover"
      %div.p-4
        %h3.text-xl.font-semibold.text-gray-900.dark:text-gray-100 Customization Options
        %p.mt-2.text-gray-600.dark:text-gray-300{data: {aos: "fade-right", aos_duration: "700", aos_offset: '220'}} Mention any customization options available, allowing customers to tailor the machinery to their specific needs and applications.
        -# %ul.list-disc.pl-5.mt-2.text-gray-600.dark:text-gray-300
        -#   %li{data: {aos: "fade-right", aos_duration: "1000", aos_offset: '220'}} Gentle on the body
        -#   %li{data: {aos: "fade-right", aos_duration: "1500", aos_offset: '220'}} Safe for long-term use
        -#   %li{data: {aos: "fade-right", aos_duration: "2000", aos_offset: '220'}} Suitable for all ages

    - # Card 5: Ancient Wisdom
    %div.bg-white.dark:bg-gray-800.shadow-md.rounded-lg.overflow-hidden{data: {aos:"zoom-in-up", aos_duration: '800'}}
      = image_tag 'benifit_5.jpeg', class: "w-full h-80 object-cover"
      %div.p-4
        %h3.text-xl.font-semibold.text-gray-900.dark:text-gray-100 Expert Support and Service
        %p.mt-2.text-gray-600.dark:text-gray-300{data: {aos: "fade-right", aos_duration: "1200", aos_offset: '220'}}Promote your excellent customer service and technical support, ensuring customers that they will receive assistance whenever needed.
        -# %ul.list-disc.pl-5.mt-2.text-gray-600.dark:text-gray-300
        -#   %li{data: {aos: "fade-right", aos_duration: "1500", aos_offset: '220'}} Time-tested remedies
        -#   %li{data: {aos: "fade-right", aos_duration: "2000", aos_offset: '220'}} Holistic approach to health
        -#   %li{data: {aos: "fade-right", aos_duration: "2500", aos_offset: '220'}} Trusted by cultures worldwide

    - # Card 6: Versatile Usage
    %div.bg-white.dark:bg-gray-800.shadow-md.rounded-lg.overflow-hidden{ data: {aos:"zoom-in-up", aos_duration: '1200'}}
      = image_tag 'benifit_6.jpeg', class: "w-full h-80 object-cover"
      %div.p-4
        %h3.text-xl.font-semibold.text-gray-900.dark:text-gray-100 Sustainability
        %p.mt-2.text-gray-600.dark:text-gray-300{data: {aos: "fade-right", aos_duration: "1200", aos_offset: '220'}} If applicable, highlight any eco-friendly features of your machinery, such as energy-saving components or sustainable manufacturing processes.
        -# %ul.list-disc.pl-5.mt-2.text-gray-600.dark:text-gray-300
        -#   %li{data: {aos: "fade-right", aos_duration: "1500", aos_offset: '220'}} Multi-functional
        -#   %li{data: {aos: "fade-right", aos_duration: "2000", aos_offset: '220'}} Can be easily incorporated into daily routines
        -#   %li{data: {aos: "fade-right", aos_duration: "2500", aos_offset: '220'}} Available in various forms
