-# %div.flex.justify-center.min-h-screen.bg-gray-100.dark:bg-gray-900.text-gray-900.dark:text-gray-100
= form_tag products_path, :method => 'get', :class => "filter-form", data: { controller: "filter", turbo_stream: true, turbo: true } do
  .grid.grid-cols-12.gap-4.px-4.py-8{data: { controller: "responsive" }}
    .col-span-12.lg:col-span-3
      %div.fixed.top-20{style: "height: 80vh; z-index: 49;", class: "w-11/12 lg:w-1/4"}
        %div.pt-2 
          -# .z-100{style: 'z-index: 100;'}
          .flex.justify-between.items-center
            .w-full.flex.justify-between
              = render 'search'
            .lg:hidden{ data: { responsive_target: "mobile" } }
              = render 'mobile_drawer'
            -# = text_field_tag 'search', params[:search], placeholder: "Search for Products", class: "form-input w-full md:w-1/2 px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-500 dark:text-gray-100", data: { filter_target: "filterinput" }
            -# %div.lg:hidden{data: { responsive_target: "mobile" }}
            -#   %button.text-white.bg-green-700.hover:bg-green-900.focus:ring-4.focus:ring-green-300.font-medium.rounded-lg.text-xs.px-3.py-3.ml-2.dark:bg-green-600.dark:hover:bg-green-700.focus:outline-none.dark:focus:ring-green-800{"aria-controls" => "mobile-filter", :class => "py-2.5", "data-drawer-show" => "mobile-filter", "data-drawer-target" => "mobile-filter", :type => "button"}
            -#     Category
          .hidden.lg:block{ data: { responsive_target: "web" } }
            = render 'products/filters'
    .col-span-12.lg:col-span-9.relative
  
      %div.container.mx-auto.px-4
        = turbo_frame_tag "products_list", src: products_url(page: params[:page], format: :turbo_stream), loading: "lazy", data: {turbo_action: "advance"} do
          %div.grid.grid-cols-1.gap-4#products_placeholder
            - 1.times do
              = render 'prod_skeleton'

      -# = turbo_frame_tag "products_pagination", data: {turbo_action: "advance"} do
      -#   .flex.mt-12.items-center.justify-center.space-x-4.w-full
      -#     != pagy_nav(@pagy)

    -# %div.grid.grid-cols-1.md:grid-cols-2.lg:grid-cols-4.gap-4
    -#   - @products.each do |product|
    -#     -# = render 'product_tiles_view', {product: product}
    -#     = render 'prod_skeleton'
    -# - if @products.present?
    -#   .flex.mt-12.items-center.justify-center.space-x-4.w-full
    -#     != pagy_nav(@pagy)
    -#   %p.text-center.mt-8.text-gray-500!= pagy_info @pagy
%div{data: { controller: "scroll" }}
  %button.hidden.md:hidden.fixed.bottom-5.right-5.z-50.bg-blue-600.text-white.font-bold.py-2.px-4.rounded-full.shadow-md.transition-all{ 
    data: { action: "scroll#scrollToTop", scroll_target: "button" } }
    ↑ Back to Top

    